<a href="https://colab.research.google.com/github/lydialiu2000/Hello_world/blob/main/Day10_Tuples%2C_Dict.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
# But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple.

X = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

In [9]:
X = ("apple", "banana", "cherry")
y = list(x)
y.append("orange")
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry', 'orange')

In [18]:
X = ("apple", "banana", "cherry", "pear", "kiwi")
y = list(x)
y.remove("kiwi")
x = tuple(y)

print(x)

('cherry',)

In [20]:
#unpacking

fruits = ("apple", "kiwi", "cherry", "banana")
(green, blue, *yellow) = fruits

print(green)
print(blue)

print(yellow)

apple
kiwi
['cherry', 'banana']

In [27]:
# tuple loop
fruits = ("apple", "kiwi", "cherry", "banana")

for i in range(len(fruits)):
  print(fruits[i])
  i = i + 1

apple
kiwi
cherry
banana

In [28]:
# tuple while loop
fruits = ("apple", "kiwi", "cherry", "banana", "grape")
i = 0
while i < len(fruits):
  print(fruits[i])
  i = i + 1

apple
kiwi
cherry
banana
grape

In [29]:
fruits = ("apple", "kiwi", "cherry", "banana")
mytuple = fruits * 2

print(mytuple)

('apple', 'kiwi', 'cherry', 'banana', 'apple', 'kiwi', 'cherry', 'banana')

In [30]:
fruits = ("apple", "kiwi", "cherry", "banana")
print(fruits.index("kiwi"))

1

In [31]:
# Dictionaries

thisdict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}

print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [37]:
thisdict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}

print(thisdict["brand"])
print(len(thisdict))
print(type(thisdict))

Ford
3
<class 'dict'>

In [35]:
# Duplicate values will overwrite existing values:
thisdict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
    "year": 1980
}

print(thisdict)

SyntaxError: ignored

In [42]:
#Access Items. Duplicate values will overwrite existing values:

thisdict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}

x = thisdict["model"]
print(x)

Mustang

In [45]:
x = thisdict.get("year")
print(x)

1964

In [46]:
x = thisdict.keys()
print(x)

dict_keys(['brand', 'model', 'year'])

In [52]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.keys()

print(x) #before the change

car["color"] = "white"

print(x) #after the change

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])

In [57]:
car = {
    "brand": "ford",
    "model": "Mustang1",
    "size": "small"
}

x = car.keys()

print(x) # before the change

car["color"] = "white"

print(x) #after the change

dict_keys(['brand', 'model', 'size'])
dict_keys(['brand', 'model', 'size', 'color'])

In [61]:
car1 = {
    "brand": "ford",
    "model": "Mustang1",
    "color": "white"
}

x = car1.values()
print(x)

car1["color"] = "red"
print(x)

dict_values(['ford', 'Mustang1', 'white'])
dict_values(['ford', 'Mustang1', 'red'])

In [62]:
car2 = {
    "brand": "ford",
    "model": "Mustang1",
    "color": "white"
}

x = car2.values()

print(x)

car2["year"] = 2025

print(x)

dict_values(['ford', 'Mustang1', 'white'])
dict_values(['ford', 'Mustang1', 'white', 2025])

In [63]:
x = car2.items()
print(x)

dict_items([('brand', 'ford'), ('model', 'Mustang1'), ('color', 'white'), ('year', 2025)])

In [68]:
car2 = {
    "brand": "ford",
    "model": "Mustang1",
    "color": "white",
    "year": 1964
    
}

x = car2.items()

print(x)

car2["year"] = 2023

print(x)

dict_items([('brand', 'ford'), ('model', 'Mustang1'), ('color', 'white'), ('year', 1964)])
dict_items([('brand', 'ford'), ('model', 'Mustang1'), ('color', 'white'), ('year', 2023)])

In [70]:
car2 = {
    "brand": "ford",
    "model": "Mustang1",
    "color": "white",
    "year": 1964
    
}

if "model" in car2:
  print("Yes, 'model' is one of the keys in the cars2 dictionary")

Yes, 'model' is one of the keys in the cars2 dictionary

In [79]:
car2 = {
    "brand": "ford",
    "model": "Mustang1",
    "color": "white",
    "year": 1964
    
}

car2.update({"size": "big"})
print(car2)

{'brand': 'ford', 'model': 'Mustang1', 'color': 'white', 'year': 1964, 'size': 'big'}

In [77]:
car2 = {
    "brand": "ford",
    "model": "Mustang1",
    "color": "white",
    "year": 1964
    
}

car2["size"] = "large"
print(car2)

{'brand': 'ford', 'model': 'Mustang1', 'color': 'white', 'year': 1964, 'size': 'large'}

In [80]:
car2 = {
    "brand": "ford",
    "model": "Mustang1",
    "color": "white",
    "year": 1964
    
}
car2.pop("model")
print(car2)

{'brand': 'ford', 'color': 'white', 'year': 1964}

In [85]:
car2 = {
    "brand": "ford",
    "model": "Mustang1",
    "color": "white",
    "year": 1964
    
}
car2.popitem()
print(car2)

{'brand': 'ford', 'model': 'Mustang1', 'color': 'white'}

In [86]:
#del
car2 = {
    "brand": "ford",
    "model": "Mustang1",
    "color": "white",
    "year": 1964
    
}
del car2["color"]
print(car2)

{'brand': 'ford', 'model': 'Mustang1', 'year': 1964}

In [87]:
#clear()
car2 = {
    "brand": "ford",
    "model": "Mustang1",
    "color": "white",
    "year": 1964
    
}
car2.clear()
print(car2)

{}

In [89]:
car2 = {
    "brand": "ford",
    "model": "Mustang1",
    "color": "white",
    "year": 1964
    
}
for x in car2:
  print(x)

brand
model
color
year

In [90]:
car2 = {
    "brand": "ford",
    "model": "Mustang1",
    "color": "white",
    "year": 1964
    
}
for x in car2:
  print(car2[x])

ford
Mustang1
white
1964

In [91]:
for x in car2.values():
  print(x)

ford
Mustang1
white
1964

In [92]:
for x in car2.keys():
  print(x)

brand
model
color
year

In [93]:
for x in car2.items():
  print(x)

('brand', 'ford')
('model', 'Mustang1')
('color', 'white')
('year', 1964)

In [95]:
# Make a copy of a dictionary with the copy() method:

car2 = {
    "brand": "ford",
    "model": "Mustang1",
    "color": "white",
    "year": 1964
    
}

mycars = car2.copy()
print(car2)
print(mycars)

{'brand': 'ford', 'model': 'Mustang1', 'color': 'white', 'year': 1964}
{'brand': 'ford', 'model': 'Mustang1', 'color': 'white', 'year': 1964}

In [96]:

mycars2 = dict(car2)
print(mycars2)

{'brand': 'ford', 'model': 'Mustang1', 'color': 'white', 'year': 1964}

In [105]:
# Nested Dictionaries

child1 = {
    "name": "Emil",
    "year": 2004
}
child2 = {
    "name": "Tobias",
    "year": 1995
}
child3 = {
    "name": "Linus",
    "year": 2011
}

myfamily = {
    "child1": child1,
    "child2": child2,
    "child3": child3
}

print(myfamily)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 1995}, 'child3': {'name': 'Linus', 'year': 2011}}

In [106]:
x = myfamily.setdefault("child4", "{'name': 'Jason'}")
print(x)

{'name': 'Jason'}

In [101]:
# fromkeys()

x = ('key1', 'key2', 'key3')
#y = (0, 1, 2)

thisdict = dict.fromkeys(x)
print(thisdict)

{'key1': None, 'key2': None, 'key3': None}

In [102]:
x = ('key1', 'key2', 'key3')
y = (0, 1, 2)

thisdict = dict.fromkeys(x)
print(thisdict)

{'key1': None, 'key2': None, 'key3': None}