<a href="https://colab.research.google.com/github/lydialiu2000/Hello_world/blob/main/Day11_If_Else.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a = 300
b = 330
print("A") if a > b else ("B")

'B'

In [6]:
a = 300
b = 330
print("A") if a > b else print('=') if a == b else print('B')

B

In [9]:
# While Loops

i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [11]:
i = 1
while i < 6:
  print(i)
  i += 2

1
3
5

In [21]:
i = 1
while i < 6:
  if i == 3:
    break
  print(i)
  i += 1

1
2

In [23]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [1]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [14]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

In [15]:
# Loops
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [16]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [18]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

apple

In [20]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

In [2]:
# break statement
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [3]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

apple

In [5]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

In [6]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    continue

apple
banana
cherry

In [7]:
# range() Function
for x in range(6):
  print(x)

0
1
2
3
4
5

In [8]:
for x in range(2,6):
  print(x)

2
3
4
5

In [9]:
for x in range(2, 30, 3):
  print(x)

2
5
8
11
14
17
20
23
26
29

In [10]:
# Else in for loop
for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [11]:
# The else block will NOT be executed if the loop is stopped by a break statement.
for x in range(6):
  if x == 3: break
  print(x)
else:
  print("Fianally finished!")

0
1
2

In [3]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
     print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [4]:
for x in [1, 2, 3]:
  pass

In [6]:
# function
def my_function(fname):
  print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

Emil Refsnes
Tobias Refsnes
Linus Refsnes

In [7]:
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Emil", "Refsnes")

Emil Refsnes

In [8]:
"""
If the number of arguments is unknown, add a * before the 
parameter name

This way the function will receive a tuple of arguments, 
and can access the items accordingly:

"""
def my_function(*kids):
  print("The youngest child is" + kids[2])

my_function("Emil", "Tobias", "Linus")

The youngest child isLinus

In [10]:
def my_function(child1, child2, child3):
  print("The youngest child is " + child3)

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

The youngest child is Linus

In [11]:
"""If you do not know how many keyword arguments 
that will be passed into your function, 
add two asterisk: ** before the parameter name in 
the function definition.

This way the function will receive a dictionary of arguments,
 and can access the items accordingly:
"""
def my_function(**kid):
  print("His last name is " + kid["lname"])

my_function(fname = "Tobias", lname = "Refsnes")

His last name is Refsnes

In [12]:
# Default parameter value

def my_function(country = "Norway"):
  print("I'm from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I'm from Sweden
I'm from India
I'm from Norway
I'm from Brazil

In [13]:
# passing a list as an argument

def my_function(food):
  for x in food:
    print(x)
  
fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

In [14]:
#Return values

def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

In [22]:
# Recursion

def tri_recursion(k):
  if(k > 0):
    result = k + tri_recursion(k - 1)
    print(result)
  else:
    result = 0
  return result

print("\n\nRecursion Example Results")
tri_recursion(5)

Recursion Example Results
1
3
6
10
15

15