<a href="https://colab.research.google.com/github/lydialiu2000/Hello_world/blob/main/Day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("hello world")

hello world

In [2]:
numbers = [1, 2, 3, 4]
sum1 = 0
for val in numbers:
  sum1 = sum1 + val

print(sum1)

10

In [3]:
p1 = 4
p2 = 2
p3 = 5

def plus(a, b, c=10, d=100):
  b = b+c
  print(b)

def mul(a, b):
  a *= b
  print(a)

def div(a, b):
  a /= b
  print(a)

plus(p1, p2)
mul(p1, p2)
div(p1, p2)

12
8
2.0

In [4]:
sum(numbers)

10

In [5]:
def lydia_sum(nums):
  total = 0
  for n in nums:
    total = total + n
  return total

In [6]:
lydia_sum(numbers)

10

In [48]:
class Classmate:
  def __init__classmate(name, age):
    classmate.name = name
    classmate.age = age

In [66]:
class Classmate:
  def __init__(self, name, age):
    self.name = name
    self.age = age

    # print("default print " + self.name+ ","+ str(self.age))
  
  def print(self):
      print("print method " + self.name+ ","+ str(self.age))

In [68]:
tom = Classmate("Tom", 30)
#tom.print()