<a href="https://colab.research.google.com/github/lydialiu2000/Hello_world/blob/main/Day13_Lambda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# lambda
x = lambda a : a + 10
print(x(5))

15

In [2]:
x = lambda a, b : a * b
print(x(5, 6))

30

In [3]:
x = lambda a, b, c : a + b + c
print(x(5, 6, 4))

15

In [1]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)

print(mydoubler(11))

22

In [2]:
def myfunc_double(n):
  return lambda a : a * n

mydoubler = myfunc_double(2)
mytripler = myfunc_double(3)

print(mydoubler(20))
print(mytripler(10))

40
30

In [5]:
# Arrays
cars = ["Ford", "Volve", "BMW", "Volve"]
print(cars)

['Ford', 'Volve', 'BMW']

In [7]:
cars.remove("Volve")
print(cars)

['Ford', 'BMW']

In [8]:
cars.append("Honda")
print(cars)

['Ford', 'BMW', 'Honda']

In [9]:
cars.pop()
print(cars)

['Ford', 'BMW']

In [14]:
def myFunc(e):
  return len(e)

cars = ["Ben", "BMW", "Hondaaa", "Auccar", "Volve"]
cars.sort(key=myFunc)
print(cars)

['Ben', 'BMW', 'Volve', 'Auccar', 'Hondaaa']

In [16]:
#Sort a list of dictionaries based on the "year" value of the dictionaries
def myFunc(e):
  return e['year']

cars = [
    {'car': 'Ford', 'year': 1990},
    {'car': 'Volve', 'year': 1890},
    {'car': 'Marzda', 'year': 2021},
    {'car': 'Benz', 'year': 2001}
]
cars.sort(reverse = True, key=myFunc)
print(cars)

[{'car': 'Marzda', 'year': 2021}, {'car': 'Benz', 'year': 2001}, {'car': 'Ford', 'year': 1990}, {'car': 'Volve', 'year': 1890}]

In [17]:
#Sort a list of dictionaries based on the "year" value of the dictionaries:
def myFunc(e):
  return len(e)

cars = ['Ford', 'Mitsubishi', 'BMW', 'VW']
cars.sort(reverse= True, key=myFunc)

print(cars)

['Mitsubishi', 'Ford', 'BMW', 'VW']

In [19]:
# Class/Objects
class MyClass:
  x = 5

p1 = MyClass()
print(p1.x)

5

In [20]:
# __init__

class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("John", 36)

print(p1.name)
print(p1.age)

John
36

In [26]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age
   
  def myfunc(self):
    print('Hello my name is ' + self.name)

p1 = Person("John", 36)
p1.myfunc()

Hello my name is John

In [28]:
class Person1:
  def __init__(mysillyobject, name, age):
    mysillyobject.name = name
    mysillyobject.age = age
  
  def myfunc1(abc):
    print("Hello my name is " + abc.name)

p1 = Person1("Lydia", 39)
p1.myfunc1()

Hello my name is Lydia

In [29]:
p1.age = 40
print(p1.age)

40

In [1]:
"""Inheritance
create a parent class
"""
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname
  
  def printname(abc):
    print(abc.firstname, abc.lastname)

x = Person("John", 35)
x.printname()

John 35

In [4]:
# create a child class
class Student(Person):
  def __init__(self, fname, lname):
    #The child's __init__() function overrides the inheritance of the parent's __init__() function.
    Person.__init__(self, fname, lname)

x = Student("Jo", 45)
x.printname()

Jo 45

In [15]:
class Person:
  def __init__(abc1, fname, lname):
    abc1.firstname = fname
    abc1.lastname = lname

  def printname(abc2):
    printname(abc2.q, abc2.d)

class Student1(Person):
  def __init__(abc3, fname, lname, year):
    super().__init__(fname, lname)
    abc3.graduationyear = year

x = Student1("John", "Green", 2021)
print(x.graduationyear)

2021

In [18]:
# add methods

class Student2(Person):
  def __init__(abc4, fname, lname, year):
    super().__init__(fname, lname)
    abc4.graduationyear = year
  
  """If you add a method in the child class with the same name as a function 
  in the parent class, the inheritance of the parent method will
  be overridden.
  """
  def welcome(self):
    print("Welcome", self.firstname, self.lastname, "to the class of ", self.graduationyear)

x = Student2("Mike", "Sui", 78)
x.welcome()

Welcome Mike Sui to the class of  78

In [19]:
# Iterator

mytuple = ("apple", "banana", "cherry")
myit = iter(mytuple)

print(next(myit))
print(next(myit))
print(next(myit))

apple
banana
cherry

In [20]:
mystr = "banana"
myit = iter(mystr)

print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))

b
a
n
a
n
a

In [21]:
mytuple = ("apple", "banana", "cherry")

for x in mytuple:
  print(x)

apple
banana
cherry

In [28]:
class MyNumbers:
  def __iter__(self): #  self shows oject
    self.a = 1
    return self
  
  def __next__(self): # self shows oject
    x = self.a
    self.a += 1
    return x

myclass = MyNumbers()
myiter =iter(myclass)

print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))

2
3
4
5
6

In [34]:
class MyNumbers1:
  def __iter__(A):
    A.a = 1
    return A
  
  def __next__(B):
    if B.a <= 20:
      x = B.a
      B.a += 1
      return x
    else:
      raise StopIteration

myclass = MyNumbers1()
myiter = iter(myclass)

for x in myiter:
  print(x)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [35]:
# Scope

def myfunc():
  x = 300
  print(x)

myfunc()

300

In [36]:
def myfunc():
  x = 300
  def myinnerfunc():
    print(x)
  myinnerfunc()

myfunc()

300

In [38]:
#global variable

x = 300

def myfunc():
  print(x)

myfunc()

print(x)

200
200

In [39]:
x = 400

def myFunc():
  x = 200
  print(x)

myFunc()

print(x)

200
400

In [40]:
def myFunc():
  global x
  x = 300

myFunc()

print(x)

300

In [42]:
x = 300

def myFunc():
  global x 
  x = 250

myFunc()

print(x)

250

In [61]:
""" 自己写出来
"""
def greeting(name):
  print("Hello, " + name)

person1 = {
    "name": "John",
    "age": 36,
    "country": "Norway"
}

name1 = person1["name"]
greeting(name1)
#print(greeting(name1))

Hello, John

In [62]:
# Dates

import datetime

x = datetime.datetime.now()

print(x)

2021-04-14 04:44:31.562594

In [79]:
import datetime

x = datetime.datetime.now()

print(x.year)
print(x.month)
print(x.strftime("%Y"))

2021
4
2021

In [64]:
import datetime

x = datetime.datetime(2020, 5, 17)

print(x)

2020-05-17 00:00:00

In [80]:
# Math

import math

x = math.sqrt(64)

print(x)

8.0

In [81]:
import math

x = math.ceil(1.4)
y = math.floor(1.4)

print(x) # math.ceil() method rounds a number upwards to its nearest integer
print(y) # math.floor() method rounds a number downwards to its nearest integer

2
1

In [85]:
import math

x = math.pi
y= math.ceil(x)

print(y)

4

In [86]:
import json

# some JSON:
x = '{"name": "John", "age": 30, "city": "SanFrancisco"}'

# parse解析 x:
y = json.loads(x)

print(y["age"])

30

In [87]:
import json

x = {
    "name": "David",
     "age": 35,
     "city": "Los Angeles"
}

y = json.dumps(x)

print(y)

{"name": "David", "age": 35, "city": "Los Angeles"}

In [89]:
import json

print(json.dumps({"name": "Amy", "age": 23})) #dic
print(json.dumps(["apple", "banana", "pear"])) #list
print(json.dumps(('apple', 'pear', 'banana'))) #tuple
#print(json.dumps({'banana', 'apple', 'pear'})) #set
print(json.dumps(4)) #int
print(json.dumps(4.5)) #float
print(json.dumps(True)) #Bool
print(json.dumps(None)) #None
print(json.dumps(False))

{"name": "Amy", "age": 23}
["apple", "banana", "pear"]
["apple", "pear", "banana"]
4
4.5
true
null
false