<a href="https://colab.research.google.com/github/lydialiu2000/Hello_world/blob/main/Day3-two%20sum.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
spam_amount = 0
print(spam_amount)

0

In [5]:
spam_amount = spam_amount + 4
print(spam_amount)

4

In [6]:
7 + 8 -5

10

In [7]:
-3 + 8 * 9

69

In [10]:
hat_height_cm = 25
my_height_cm = 163
total_height_m = (hat_height_cm + my_height_cm) / 100
print(total_height_m)

1.88

In [61]:
def least_difference(a, b, c):
  """Return the smallest difference between any two numbers among a, b and c.

  >>> least_difference(1, 5, -5)
  4
  """
  diff1 = abs(a - b)
  diff2 = abs(b - c)
  diff3 = abs(a - c)
  return min(diff1, diff2, diff3)

print(
    least_difference(5, 8, 9),
    least_difference(19, 12, 50),
    least_difference(1, 2, 3),
    sep = "\n"
)

1
7
1

In [44]:
def least_difference(a, b, c):
  """just want to compare the return() and print() in def
  between this example with the exmaple above 
  """
  
  diff1 = abs(a - b)
  diff2 = abs(b - c)
  diff3 = abs(a - c)
  print(min(diff1, diff2, diff3))

least_difference(5, 6, 2)

1

In [45]:
def least_difference(a, b, c):
  
  diff1 = abs(a - b)
  diff2 = abs(b - c)
  diff3 = abs(a - c)
  return min(diff1, diff2, diff3)

least_difference(5, 6, 2)

1

In [65]:
def least_difference(a, b, c):
  """ Return the smallest difference between any two numbers
  among a, b and c.
  """
  diff1 = abs(a - b)
  diff2 = abs(b - c)
  diff3 = abs(a - c)
  min(diff1, diff2, diff3)

print(
    least_difference(5, 10, 12),
    least_difference(6, 41, 23),
    least_difference(5, 23, 1),
    sep = '\n'
)

None
None
None

In [68]:
def least_difference(a, b, c):
  """ Return the smallest difference between any two numbers
  among a, b and c.
  """
  diff1 = abs(a - b)
  diff2 = abs(b - c)
  diff3 = abs(a - c)
  print(min(diff1, diff2, diff3))

least_difference(5, 10, 12)
least_difference(6, 41, 23)
least_difference(5, 23, 1)

2
17
4

In [66]:
mystery = print()
print(mystery)

None

In [39]:
def greet(who):
  name1 = who
  print("Hello, ", name1)

greet("Colin")
greet("Kaggle")
greet("World")
#greet(who = "Kaggle")
#greet(who = "World")

Hello,  Colin
Hello,  Kaggle
Hello,  World

In [40]:
def greet(who):
  
  print("Hello, ", who)

greet("Colin")
greet("Kaggle")
greet("World")
#greet(who = "Kaggle")
#greet(who = "World")

Hello,  Colin
Hello,  Kaggle
Hello,  World

In [41]:
def greet(who="Colin"):
  print("Hello, ", who)

greet()
greet(who="Kaggle")
greet(who="World")

Hello,  Colin
Hello,  Kaggle
Hello,  World

In [51]:
def mult_by_five(x):
  return 5 * x

def call(fn, arg):
  return fn(arg)

def squared_call(fn, arg):
  return fn(fn(arg))

print(
    call(mult_by_five, 1),
    squared_call(mult_by_five, 1),
    sep="\n"
)

5
25

In [73]:
class Solution:
    def twoSum(self, nums, target):
      """
        #nums = List[int]
        #target = int
      """
      prevMap = {} # val : index
        
      for i, n in enumerate(nums):
            diff = target - n
            if diff in prevMap:
                return [prevMap[diff], i]
            prevMap[n] = i

#twoSum = ([2, 3, 6, 7], 5)

In [82]:
def twoSum(nums, target):
  """
    TWO SUM ISSUE
    nums = List[int]
    target = int
  """
  prevMap = {} # val : index
    
  for i, n in enumerate(nums):
      diff = target - n
      if diff in prevMap:
            return [prevMap[diff], i]
      prevMap[n] = i
  return
#twoSum = ([2, 3, 6, 7], 5)

In [83]:
number = [2, 3, 6, 7]
target1 = 5
twoSum(number, target1)
# a = Solution
# a.twoSum(number, target1)

[0, 1]

In [84]:
twoSum([2, 3, 6, 7], 5)

[0, 1]