<a href="https://colab.research.google.com/github/lydialiu2000/Hello_world/blob/main/Day5_list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [42]:
planets = ['mercury', 'venus', 'earth', 'mars', 'jupiter', 'saturn', 'uranus', 'napturn']

In [11]:
planets[0]

'mercury'

In [13]:
planets[2:-2]

['earth', 'mars', 'jupiter', 'saturn']

In [15]:
planets[1:-2]

['venus', 'earth', 'mars', 'jupiter', 'saturn']

In [16]:
planets[3:]

['mars', 'jupiter', 'saturn', 'uranus', 'napturn']

In [17]:
planets[:-3]

['mercury', 'venus', 'earth', 'mars', 'jupiter']

In [52]:
planets[3] = 'EARTH'
planets

['mercury',
 'venus',
 'earth',
 'EARTH',
 'jupiter',
 'saturn',
 'uranus',
 'napturn']

In [40]:
#planets[:3] = ['Mercury', 'Venus', 'Earth', 'Mar']
#print(planets)

['Mercury', 'Venus', 'Earth', 'Mar', 'mars', 'jupiter', 'saturn', 'uranus', 'napturn']

In [43]:
len(planets)

8

In [44]:
sorted(planets)

['earth', 'jupiter', 'mars', 'mercury', 'napturn', 'saturn', 'uranus', 'venus']

In [12]:
planets[:4] = ['Mercury', 'Venus', 'Earth', 'Mars']
print(planets)

NameError: ignored

In [58]:
planets.index('Earth')

2

In [60]:
"Earth" in planets

True

In [61]:
planets.pop()

'napturn'

In [62]:
planets

['Mercury', 'Venus', 'Earth', 'Mars', 'jupiter', 'saturn', 'uranus']

In [63]:
help(planets)

Help on list object:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Stable sort *IN PLACE*.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [57]:
primes = [2, 3, 5, 7]

In [48]:
sum(primes)

17

In [50]:
max(primes)

7

In [73]:
def select_second(L):
    """Return the second element of the given list. If the list has no second
    element, return None.
    """
    
    return L[1] if len(L) > 1 else "None"

select_second(['Key', 'Lock', 'Door', 'Room'])   
    #pass

'Lock'

In [83]:
def select_second(L):
  if len(L) < 2:
    return None
  
  return L[1]


L = ['Key', 'Lock', 'Door', 'Room']
select_second(L)

'Lock'

In [6]:
def purple_shell(racers):
    """Given a list of racers, set the first place racer (at the front of the list) to last
    place and vice versa.
    
    >>> r = ["Mario", "Bowser", "Luigi"]
    >>> purple_shell(r)
    >>> r
    ["Luigi", "Bowser", "Mario"]
    """
    tempt = racers[0]
    racers[0] = racers[-1]
    racers[-1] = temp
    pass

In [7]:
d = [1, 2, 3][1:]
len(d)

2

In [9]:
a = [1, 2, 3]
b = [1, [2, 3]]
c = []
d = [1, 2, 3][1:]

# Put your predictions in the list below. Lengths should contain 4 numbers, the
# first being the length of a, the second being the length of b and so on.
lengths = [3, 2, 0, 2]
pass

"""
ANSWER>>> 
a: There are three items in this list. Nothing tricky yet.
b: The list [2, 3] counts as a single item. It has one item before it. So we have 2 items in the list
c: The empty list has 0 items
d: The expression is the same as the list [2, 3], which has length 2.
"""

In [11]:
int(8/2)

4

In [120]:
def fashionably_late(arrivals, name):
    """Given an ordered list of arrivals to the party and a name, return whether the guest with that
    name was fashionably late.
    """
    if len(arrivals) % 2 ==1:
        if name in arrivals[(1 + int(len(arrivals) / 2)) : -1]:
            #return bool(name)
            print(name, "is fashinably late")
        else: 
          print(name, "is not fashionably late") 
        
    elif len(arrivals) % 2 == 0:
        if name in arrivals[int(len(arrivals) / 2):-1]:
            #return bool(name)
            print(name, "is fashinably late")
        else:
          print(name, "is not fashionably late")


name = 'Richeal'
fashionably_late(['Lisa', 'Ming', 'Johson', 'Jim', 'Share', 'Richeal'], name)

Richeal is not fashionably late

In [121]:
def fashionably_late(arrivals, name):
    """Given an ordered list of arrivals to the party and a name, return whether the guest with that
    name was fashionably late.
    """
    if (len(arrivals)) % 2 ==1:
        return True if name in arrivals[(1 + int(len(arrivals) / 2)) : -1] else False
            
            #print(name, "is fashinably late")
        #else: 
           #return False
        
    elif len(arrivals) % 2 == 0:
        return True if name in arrivals[int(len(arrivals) / 2):-1] else False
            #return True
            #print(name, "is fashinably late")
        #else:
           #False


name = 'Jim'
fashionably_late(['Lisa', 'Ming', 'Johson', 'Jim', 'Share'], name)

True

In [127]:
def fashionably_late(arrivals, name):
    """Given an ordered list of arrivals to the party and a name, return whether the guest with that
    name was fashionably late.
    """
    if (len(arrivals)) % 2 ==1:
      while name in arrivals[(1 + int(len(arrivals) / 2)) : -1]:
        return True
      else: 
        return False
            
            #print(name, "is fashinably late")
        #else: 
           #return False
        
    elif len(arrivals) % 2 == 0:
      while name in arrivals[int(len(arrivals) / 2):-1]:
        return True
      else: 
        return False
       
            #return True
            #print(name, "is fashinably late")
        #else:
           #False


name = 'Jim'
fashionably_late(['Lisa', 'Ming', 'Johson', 'Jim', 'Share'], name)

True

In [141]:
def fashionably_late(arrivals, name):
    """Given an ordered list of arrivals to the party and a name, return whether the guest with that
    name was fashionably late.
    """
    order = arrivals.index(name)
    if int(len(arrivals)) % 2 != 0:
        return True if len(arrivals)/2 < order and name != arrivals[-1] else False
        
    elif int(len(arrivals)) % 2 == 0:
        return True if (int(len(arrivals))/2 - 1) < order and name != arrivals[-1] else False

name = 'Richeal'
fashionably_late(['Lisa', 'Ming', 'Johson', 'Jim', 'Share', 'Richeal', 'AA'], name)

True

In [149]:
def fashionably_late(arrivals, name):
    """Given an ordered list of arrivals to the party and a name, return whether the guest with that
    name was fashionably late.
    """
    order = arrivals.index(name)
    return True if len(arrivals)/2 <= order and name != arrivals[-1] else False
        
    
        #return True if (int(len(arrivals))/2 - 1) < order and name != arrivals[-1] else False

name = 'Johson'
fashionably_late(['Lisa', 'Ming', 'Johson', 'Jim', 'Share', 'Richeal'], name)

False

In [132]:
def fashionably_late(arrivals, name):
    order = arrivals.index(name)
    return order >= len(arrivals) / 2 and order != len(arrivals) - 1

name = 'Share'
fashionably_late(['Lisa', 'Ming', 'Johson', 'Jim', 'Share', 'Richeal', 'AA'], name)

True