<a href="https://colab.research.google.com/github/lydialiu2000/Hello_world/blob/main/Day8_W3school_string.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#format
txt = "For only {price:.2f} dollars!"
print(txt.format(price = 49))

For only 49.00 dollars!

In [11]:
txt1 = "My name is {:>8}, I'm {}".format("Joe", 5)
print(txt1)

My name is      Joe, I'm 5

In [14]:
txt2 = "My name is {fname:>8}, I'm {age}".format(fname = "Joe", age = 5)
print(txt2)

My name is      Joe, I'm 5

In [5]:
txt1 = "We have {:<8} chickens."
print(txt1.format(49))

We have 49       chickens.

In [17]:
txt = "The temperature is {:=8} degrees celsius."
print(txt.format(-5))

The temperature is -      5 degrees celsius.

In [18]:
txt = "The temperature is between {:+} and {:+} degrees celsius."
print(txt.format(-3, 7))

The temperature is between -3 and +7 degrees celsius.

In [20]:
txt = "The tempreture is between {:-} and {:-} degrees celsius."
print(txt.format(-3, 7))

The tempreture is between -3 and 7 degrees celsius.

In [25]:
txt = "The tempreture is between {:} and {:,} degrees celsius."
print(txt.format(-3,70000))

The tempreture is between -3 and 70,000 degrees celsius.

In [26]:
txt = "The tempreture is between {:_} and {:_} degrees celsius."
print(txt.format(-30000, 700000))

The tempreture is between -30_000 and 700_000 degrees celsius.

In [30]:
x = float('inf')
txt = "The pric is {:F} dollars."
print(txt.format(x))

txt = "The price is {:f} dollars."
print(txt.format(x))

The pric is INF dollars.
The price is inf dollars.

In [31]:
txt = "You scored {:%}"
print(txt.format(0.25))

You scored 25.000000%

In [36]:
txt = "You scored {:.000%}"
print(txt.format(0.25))

You scored 25%

In [39]:
txt = "  Hello, world."
x = txt.strip()
print(x)

Hello, world.

In [42]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

In [43]:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]

print(list1, list2, list3)

['apple', 'banana', 'cherry'] [1, 5, 7, 9, 3] [True, False, False]

In [52]:
thislist = ["apple", "banana", "cherry", "orange"]
thislist[1:3] =["blackcurrant"]
print(thislist)

['apple', 'blackcurrant', 'orange']

In [53]:
# extend()
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

In [55]:
thislist = ["apple", "banana", "cherry"]
thisdic = {"kiwi":4, "orange":5}
thislist.extend(thisdic)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

In [54]:
thislist = ["apple", "banana", "cherry"]
thisset = {"kiwi", "orange"}
thislist.extend(thisset)
print(thislist)

['apple', 'banana', 'cherry', 'orange', 'kiwi']

In [58]:
#remove list items
thislist = ["apple", "banana", "cherry"]
del thislist
print(thislist)

NameError: ignored

In [59]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

In [60]:
#Loop lists
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

In [62]:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

apple
banana
cherry

In [64]:
thislist = ["banana", "apple", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

banana
apple
cherry

In [67]:
thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]

apple
banana
cherry

[None, None, None]

In [69]:
#List Comprehension
fruits =  ["banana", "apple", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['banana', 'apple', 'mango']

In [76]:
fruits =  ["banana", "apple", "cherry", "kiwi", "mango"]
newlist = [x for x in fruits if "a" in x]
print(newlist)

['banana', 'apple', 'mango']

In [3]:
fruits =  ["banana", "apple", "cherry", "kiwi", "mango"]
newlist = [x for x in fruits if x != "apple"]
print(newlist)

['banana', 'cherry', 'kiwi', 'mango']